.font-md {
    font-size: 3.8vw !important;
}

.font-lg {
    font-size: 4.4vw !important;
}

.font-sm {
    font-size: 2.2vw !important;
}

.font-xs {
    font-size: 2.05vw !important;
}

.font-xl {
    font-size: 4.8vw !important;
}

.font-11 {
    font-size: 2.4vw !important;
}

.font-12 {
    font-size: 3vw !important;
}

.font-13 {
    font-size: 3.1vw !important;
}

.font-14 {
    font-size: 3.5vw !important;
}

.font-16 {
    font-size: 3.8vw !important;
}

.font-18 {
    font-size: 4vw !important;
    line-height: 20px;
}

.font-20 {
    font-size: 4.4vw !important;
}

.small {
    font-size: 0.85em !important;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.font-lighter {
    font-weight: 300;
}

.text-underline {
    text-decoration: underline;
}
.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-initial {
    text-transform: initial;
}

.text-white {
    color: var(--ion-color-primary-contrast) !important;
}

.text-gray {
    color: var(--ion-color-medium-tint) !important;
}

.text-dark {
    color: var(--ion-color-dark-tint) !important;
}

.text-medium {
    color: var(--ion-color-medium) !important;
}

.text-primary {
    color: var(--ion-color-primary) !important;
}

.font-light {
    font-weight: 300;
}

.letter-space5 {
    letter-spacing: 0.5px;
}
