form {
    .ion-invalid {
        --highlight-background: transparent !important;
    }

    .form-error {
        .ion-invalid {
            border-bottom: 2px solid var(--ion-color-danger) !important;
        }
    }

    .item-interactive.item-has-focus.ion-valid {
        --highlight-background: transparent !important;
    }

    .label {
        margin-bottom: 8px !important;
        text-transform: inherit;
        color: #4b646b !important;
        font-size: 0.8em !important;
        // font-weight: 500;
    }

    .value {
        font-size: 1em;
        color: var(--ion-color-secondary);
    }

    ion-input {
        border-radius: 6px;
        font-size: 0.85em !important;
        border: 1px solid #e8e8e8;
        --padding-start: 14px !important;
        --padding-end: 14px !important;
        --padding-top: 3.2vw !important;
        --padding-bottom: 3.2vw !important;

        &.has-focus {
            background: #fcfcfd;
            box-shadow: inset 3px 3px 10px #cccccd, inset -5px -5px 10px #ffffff;
            border-color: transparent;
        }
    }

    ion-item {
        --padding-start: 8px;
        --inner-padding-end: 8px;
        --border-color: white;
        --min-height: 0 !important;
    }

    ion-radio {
        width: 13px;
        height: 13px;
        --border-width: 1.5px;
        --min-height: 10px !important;
        margin: 0;

        & + ion-label {
            font-size: 0.9em !important;
            margin: 0 1vw 0;
            color: var(--ion-color-medium-tint) !important;
        }
    }
}
