.header-md::after {
    background-image: none;
}

ion-content {
    --background: transparent;
    border-radius: 0 0 40px 40px;
    background-color: #f7fbff;
    overflow: hidden;
    // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

ion-button {
    font-size: 3.2vw !important;
    height: 11vw;
    letter-spacing: 0;
    font-weight: 500;
    --border-radius: 6px;
    --padding-start: 2.5em;
    --padding-end: 2.5em;
    letter-spacing: 0.5px;

    &.bold {
        font-weight: 900;
    }

    ion-icon {
        // border-radius: 50%;
        // height: 4vw;
        // width: 4vw;
        // background-color: #05539e;
        padding: 4px !important;
    }
}

ion-checkbox {
    --border-radius: 4px;
    --border-width: 1.5px;
    --border-color: #dfdfdf;
    --size: 4.4vw;
}

ion-label {
    font-size: 4.2vw !important;
}

ion-input {
    font-size: 3.5vw;
    color: var(--ion-text-color);
    --placeholder-color: var(--ion-color-medium-tint) !important;
}

ion-toolbar {
    // --background: #f7fbff;
    --border-color: var(--ion-color-primary-contrast);
    --border-width: 1px;
    box-shadow: 0 3px 10px #f1f5fa;
    text-transform: capitalize;

    ion-buttons {
        padding-left: 5px;

        ion-icon {
            font-size: 1.2em;
        }
    }

    ion-title {
        font-weight: 500;
        font-size: 1em;
    }
}

ion-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-radius: 4px;
    --border-width: 0;
    --background-activated-opacity: 0;
    --background-activated: none;
    --background-focused: none;
    --background-focused-opacity: 0;
}

.dark {
    ion-item,
    .ion-no-padding {
        --background: var(--ion-background-color);
    }
}

.fab-vertical-bottom {
    bottom: 25px;
}

.action-sheet-group-cancel {
    button {
        color: var(--ion-color-danger) !important;
    }
}

ion-searchbar {
    --border-radius: 30px !important;
    --box-shadow: none !important;
    --background: var(--ion-background-color, #fff) !important;

    .searchbar-input {
        font-size: 3.5vw !important;
        background-color: var(--ion-color-light, #fff) !important;
    }
}

ion-tabs {
    .tabs-inner {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 40px 40px;
    }

    ion-tab-bar {
        --background: transparent;
        --border: none;
        padding: 2.5vw 0 1vw;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        // width: 80%;
        // margin: 0 auto 20px;
        // border-radius: 50px;

        ion-tab-button {
            color: var(--ion-color-primary-tint) !important;

            ion-label {
                font-size: 3.3vw !important;
                margin-top: 1vw;
                color: var(--ion-color-primary-tint) !important;
                font-weight: 300;
            }

            ion-icon {
                font-size: 5vw;
            }

            &.tab-selected {
                ion-icon {
                    color: var(--ion-color-primary-contrast) !important;
                }

                ion-label {
                    color: var(--ion-color-primary-contrast) !important;
                }
            }
        }
    }
}
