@import "_mixin";

html,
body {
    --ion-font-family: var(--ion-default-font);
    font-size: 4vw;
    background: linear-gradient(90deg, rgba(255, 161, 42, 1) 11%, rgba(248, 137, 36, 1) 35%, rgba(246, 116, 22, 1) 59%);
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-white {
    background-color: #fff;
}

.bg-light {
    background-color: var(--ion-color-light-tint);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-3 {
        flex: 3;
    }

    .flex-4 {
        flex: 4;
    }

    .flex-5 {
        flex: 5;
    }

    .flex-6 {
        flex: 6;
    }

    .flex-7 {
        flex: 7;
    }

    .flex-8 {
        flex: 8;
    }

    .flex-9 {
        flex: 9;
    }

    .flex-10 {
        flex: 10;
    }
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    ion-button {
        margin: 0;
        height: 7vh;
    }
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.backdrop-dark {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background-color: rgba(28, 33, 37, 0.9);
}

.modal-container {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-header {
    margin: 9vw 6vw 4vw;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 700;
    // color: #a6c2df;
    color: #8a98ad; //#458094;
    letter-spacing: 0.5px;
}

.card {
    margin: 3vw 6vw 6vw;
    border-radius: 7px;
    background-color: var(--ion-color-primary-contrast);
    padding: 0;
    border: 0;
    position: relative;
    // background: linear-gradient(135deg, #f9fafc, #fbfcfc);
    box-shadow: 6px 6px 8px #e1e7ec, -6px -6px 8px #ffffff;
    box-shadow: 5px 5px 10px rgba(109, 125, 136, 0.27), -5px -5px 10px rgba(244, 250, 255, 0.34);
    // @include box-shadow();
    // .card-header {
    //     font-size: 2.8vw;
    //     text-transform: uppercase;
    //     word-spacing: 3px;
    //     text-align: left;
    //     letter-spacing: 0.4px;
    //     border-radius: 7px 7px 0 0;
    //     padding: 4vw;
    //     background-color: #f8f8f8;
    //     color: #8791a5;
    //     font-weight: 500;
    //     max-height: 8vh;
    // }
    .card-body {
        padding: 4vw 5vw;
    }

    .card-footer {
        padding: 2vw 4vw 4vw;
        border: none;
        border-radius: 0 0 7px 7px;
    }
}
.illustration {
    width: 60%;
    margin: 40px auto 20px;
}

@mixin split-items {
    position: relative;
    top: 6vw;
    margin-bottom: 13vw;

    .dummy {
        margin-top: 100%;
    }

    ion-row {
        flex-wrap: wrap;
        margin: 0 4vw;
    }

    ion-col {
        flex: none;
        padding: 12px;
        margin: 0;
        color: #e81717;
        font-size: 2.4vw;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        position: relative;
    }

    i {
        font-size: 30px;
        padding-bottom: 5px;
    }
}

.split-items {
    @include split-items();

    .container-square {
        text-align: center;
        margin: 3vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        border-radius: 7px;
        // box-shadow: 0 6px 19px rgba(180, 188, 202, 0.17);
        // background-color: var(--ion-color-primary-contrast);
        background: linear-gradient(135deg, #f3f6fa, #ffffff);
        box-shadow: 6px 6px 8px #e8ecf0, -6px -6px 8px #ffffff;

        .container-circle-content {
            justify-content: center;
            align-items: center;
            height: 100%;
            position: relative;

            .title {
                font-size: 1.6em;
                color: var(--ion-color-secondary);
                text-transform: capitalize;
                bottom: 7vw;
                position: absolute;
                padding: 0 3vw;
                font-weight: 500;
                text-align: left;
                width: 100%;
                letter-spacing: 0.2px;
            }

            .subtitle {
                font-size: 0.75em;
                line-height: 5vw;
                color: var(--ion-color-medium-shade);
                font-weight: 400;
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                text-transform: initial;
            }

            .logo {
                width: 100%;
                text-align: left;
                padding: 5vw 5vw 0;
                height: 50%;

                img {
                    // width: 65%;
                    height: 85%;
                }
            }
        }
    }

    ion-col {
        width: 50%;
    }
}
