<ion-header>
    <ion-toolbar>
        <ion-title>Cases Overview</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="bg-primary text-center pb-3">
    </div>
    <div class="background-half">
        <div class="update-msg">Last updated on {{updateTime | datePipe: 'MMM DD, hh:mm a'}}</div>
    </div>
    <div>
        <ion-card>
            <ion-card-content class="p-3">
                <ion-row class="mb-2">
                    <ion-col class="heading">
                        {{selectedState != null ? selectedState : 'Across india'}}
                        <span class="text-success text33 pl-2 call">
                            <a href="tel:{{contactNumber}}">
                                <ion-icon name="call" class="text-success"></ion-icon>
                            </a>
                        </span>
                    </ion-col>
                    <ion-col class="text-right" (click)="showInformation()">
                        <ion-icon name="information-circle-outline" class="text-primary text33"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="summary != null">
                    <ion-col>
                        <div class="text-gray text33">
                            Confirmed
                        </div>
                        <div class="count total">
                            {{summary.total | number}}
                        </div>
                        <div class="line18">
                            <span class="text-gray text30">New:</span>
                            <span class="pl-2 total text33 fw500 number">+
                                {{summary.total - yesterdayData.total | number}}</span>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="text-gray text33">
                            Recovered
                        </div>
                        <div class="count recovered">
                            {{summary.discharged | number}}
                        </div>
                        <div class="line18">
                            <span class="text-gray text30">New:</span>
                            <span class="pl-2 text-success text33 fw500 number">+
                                {{summary.discharged - yesterdayData.discharged | number}}</span>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="text-gray text33">
                            Deceased
                        </div>
                        <div class="count deceased">
                            {{summary.deaths | number}}
                        </div>
                        <div class="line18">
                            <span class="text-gray text30">New:</span>
                            <span class="pl-2 text-tertiary text33 fw500 number">+
                                {{summary.deaths - yesterdayData.deaths | number}}</span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="my-3">
                    <ion-col size="8" class="text-left">
                        <div class="vertical-center">
                            <canvas style="height: 210px;" #caseOverviewPieCanvas>{{ caseOverviewPieCanvas }}</canvas>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="vertical-center">
                            <div class="case-percentage">
                                <span class="text-primary">&nbsp;</span> <span
                                    class="text-gray text33 active">Active</span>
                                <div class="percentage">{{activePercentage}}%</div>
                            </div>
                            <div class="case-percentage">
                                <span class="text-primary">&nbsp;</span> <span
                                    class="text-gray text33 recovered">Recovered</span>
                                <div class="percentage">{{recoveredPercentage}}%</div>
                            </div>
                            <div class="case-percentage">
                                <span class="text-primary">&nbsp;</span> <span
                                    class="text-gray text33 deceased">Deceased</span>
                                <div class="percentage">{{deceasedPercentage}}%</div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>

        </ion-card>
        <ion-card>
            <ion-card-content class="p-3 state-stat">
                <ion-row class="mb-2">
                    <ion-col class="heading">
                        All States/UT
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <div class="text-gray text33">
                            Location
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="text-gray text-right text33">
                            Confirmed
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="text-gray text-right text33">
                            Recovered
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="text-gray text-right text33">
                            Deceased
                        </div>
                    </ion-col>
                </ion-row>
                <div *ngIf="covidDataLatest != null">
                    <ion-row (click)="loadStateStats(stat)"
                        [ngClass]="{'bg-white': odd, 'bg-light': !odd, 'selected': selectedState === stat.loc}"
                        *ngFor="let stat of covidDataLatest.regional | sortBy: 'desc': 'totalConfirmed'; let odd= odd">
                        <ion-col size="4">
                            <div class="text-dark text33">
                                {{stat.loc}}
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="text-primary text-right text33 number">
                                {{stat.totalConfirmed | number}}
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="text-success text-right text33 number">
                                {{stat.discharged | number}}
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="text-tertiary text-right text33 number">
                                {{stat.deaths | number}}
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card-content>

        </ion-card>
    </div>
</ion-content>
<!-- 
<div *ngIf="showInfo">
    <info-popup (infoSelectionEvent)="onInfoSelected($event)"></info-popup>
</div> -->