.update-msg {
    position: relative;
    margin-top: -5px;
    font-size: 3vw;
    color: var(--ion-color-primary-light);
    padding: 0 20px;
}

.selected {
    border: 1px dashed #467492;
    border-radius: 5px;
    background-color: #eff8fe !important;
}

.heading {
    font-size: 4.25vw !important;
    color: #195d8a;
    font-family: roboto;
    font-weight: 700;
}

@mixin tag {
    content: "";
    height: 5px;
    width: 10px;
    display: inline-block;
    border-radius: 13px;
    margin-right: 6px;
    margin-bottom: 1px;
}

.case-percentage {
    .active {
        color: #b5bbbe;

        &::before {
            @include tag();
            background-color: #4fa9e4;
        }
    }

    .recovered {
        color: #b5bbbe;

        &::before {
            @include tag();
            background-color: var(--ion-color-success);
        }
    }

    .deceased {
        color: #b5bbbe;

        &::before {
            @include tag();
            background-color: var(--ion-color-tertiary);
        }
    }
}

.case-percentage {
    padding: 5px 0;
    .percentage {
        line-height: 12px;
        font-weight: 700;
        font-size: 3.5vw;
        margin-left: 18px;
        font-family: roboto;
    }
}

.total {
    color: #4fa9e4;
}

.recovered {
    color: var(--ion-color-success);
}

.deceased {
    color: var(--ion-color-tertiary);
}

.count {
    font-family: roboto;
    font-weight: 900;
    font-size: 4.8vw;
}

.number {
    font-family: roboto;
}

.state-stat {
    ion-row {
        padding: 5px 1px;
    }
}

.call {
    ion-icon {
        transform: rotate(265deg);
    }
}
