<!-- <ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>allApps</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="header">
        <ion-row>
            <ion-col size="10">
                <span class="text-greeting">Good Morning</span>
                <span class="user-name">Rajesh</span>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
    </div>

    <div class="main-content">
        <div>
            <ion-row class="app-container" (click)="goToAtHome()">
                <ion-col size="5">
                    <div class="logo">
                        <img src="assets/images/atWork.svg" alt="">
                    </div>
                </ion-col>
                <ion-col size="7">
                    <div class="vertical-center">
                        <div class="app-name">
                            <span class="text-primary fw500">at</span><span class="text-secondary fw500">Work</span>
                        </div>
                        <div class="description">
                            Make going back to the workplace work for everyone
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="app-container">
                <ion-col size="5">
                    <div class="logo">
                        <img src="assets/images/coDrive.svg" alt="">
                    </div>
                </ion-col>
                <ion-col size="7">
                    <div class="vertical-center">
                        <div class="app-name">
                            <span class="text-primary fw500">co</span><span class="text-secondary fw500">Drive</span>
                        </div>
                        <div class="description">
                            Commute with your fellow workers with peace of mind
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>