ion-content {
    border-radius: 0;
}

.header {
    padding: 2vw 6vw;
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;

    .text-greeting {
        color: var(--ion-color-secondary);
    }

    .user-name {
        color: var(--ion-color-primary);
        font-size: 1.35em;
        padding-left: 5px;
    }
}

.app-container {
    margin: 6vw;

    .logo {
        background-color: var(--ion-color-primary-contrast);
        padding: 5vw;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(224, 229, 237, 0.3);
        width: 30vw;
        height: 30vw;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .app-name {
        font-size: 1.1em;
    }

    .description {
        color: var(--ion-color-medium);
        font-size: 0.8em;
        margin-top: 2vw;
        line-height: 4.5vw;
    }
}
