<ion-header>
    <ion-toolbar>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="bg-primary text-center pb-3">
    </div>
    <div class="background-half">
    </div>
    <div class="card-header">
        General
    </div>
    <ion-card class="card">
        <ion-card-content class="card-body">
            <ion-row class="no-border" (click)="socialShare()">
                <ion-col size="2" class="display-flex">
                    <ion-icon name="share-social"></ion-icon>
                </ion-col>
                <ion-col size="10" class="pl-3">
                    <div class="title">
                        Share
                    </div>
                    <div class="description">Spread the word</div>
                </ion-col>
            </ion-row>
            <ion-row (click)="rateUs()">
                <ion-col size="2" class="display-flex">
                    <ion-icon name="star-sharp"></ion-icon>
                    <!-- <ion-icon name="thumbs-up-sharp"></ion-icon> -->
                </ion-col>
                <ion-col size="10" class="pl-3">
                    <div class="title">
                        Rate Us
                    </div>
                    <div class="description">Appreciate your rating</div>
                </ion-col>
            </ion-row>
            <ion-row [routerLink]="['/help-center']">
                <ion-col size="2" class="display-flex">
                    <ion-icon name="help-circle"></ion-icon>
                </ion-col>
                <ion-col size="10" class="pl-3">
                    <div class="title">
                        Help Center
                    </div>
                    <div class="description">Allow us to serve you better</div>
                </ion-col>
            </ion-row>
            <ion-row (click)="privacyPolicy()">
                <ion-col size="2" class="display-flex">
                    <ion-icon name="lock-closed"></ion-icon>
                </ion-col>
                <ion-col size="10" class="pl-3">
                    <div class="title">
                        Privacy Policy
                    </div>
                    <div class="description">View our privacy policy</div>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <div class="version">
        Current version: {{versionNumber}}
    </div>
</ion-content>