.title {
    color: var(--ion-color-secondary) !important;
    font-weight: 500;
    margin-bottom: 5px;
}

.description {
    color: var(--ion-color-medium-tint);
    font-size: 0.9em;
}

ion-row {
    padding: 10px 0;
    border-top: 1px solid #efefef;

    &:focus {
        outline: none;
    }

    &.no-border {
        border: none;
    }

    ion-icon {
        color: #bbc3ce;
        font-size: 1.2em;
    }
}

.version {
    text-align: center;
    font-size: 0.75em;
    color: var(--ion-color-medium-tint);
}
