<ion-header>
    <ion-toolbar>
        <ion-title>COVID News</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="card" *ngFor="let news of latestNews | sortBy:'desc':'publishedAt'" (click)="openFullNews(news)">
        <ion-card-content class="card-body news">
            <div>
                <img src="{{news.urlToImage}}" alt="">
            </div>
            <div class="headlines">{{ getFormattedTitle(news) }}</div>
            <div class="description">
                {{ news.description }}
            </div>
            <ion-row class="cardfooter">
                <ion-col>
                    <span class="date pr-1">{{news.source.name}}</span> | <span
                        class="date pl-1">{{news.publishedAt | datePipe: 'MMM, DD hh:mm a'}}</span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>