.news {
    .headlines {
        font-weight: 700;
        font-size: 1.2em;
        color: var(--ion-color-secondary-tint);
        padding: 2vw 0;
    }

    .description {
        line-height: 23px;
        color: var(--ion-color-medium-tint);
    }
}

.cardfooter {
    padding: 5px 0;
    margin: 3vw 0 0;
    border-top: 1px solid #ececec;
    font-size: 0.85em;

    .date {
        font-size: 0.7em;
        text-transform: uppercase;
        color: #a5afb6;
    }
}
