<ion-content>
    <div class="logo">
        <img src="assets/images/logo.svg" alt="">
    </div>
    <div class="illustration">
        <img src="assets/images/splash-logo.svg" alt="">
    </div>

    <div class="content">
        <div class="text-primary font-6">
            Login
        </div>
        <form class="ion-margin-top" role="form" [formGroup]='loginForm' #loginFrm="ngForm">
            <ion-item [ngClass]="{'form-error': loginFrm.submitted && loginForm.get('username').invalid}">
                <!-- <ion-label position="floating" class="text-primary">
                    Employee No
                </ion-label> -->
                <ion-input formControlName='username' placeholder="username">
                </ion-input>
            </ion-item>
            <ion-item class="ion-margin-top"
                [ngClass]="{'form-error': loginFrm.submitted && loginForm.get('password').invalid}">
                <!-- <ion-label position="floating" class="text-primary">
                    Password
                </ion-label> -->
                <ion-input formControlName='password' type="password" placeholder="Enter password">
                </ion-input>
            </ion-item>
            <!-- {{loginForm.get('isConsentChecked').value}} -->
            <div>
                <ion-row class="ion-padding-top">
                    <ion-col size="2" class="px-0 display-flex">
                        <ion-checkbox formControlName="isConsentChecked"></ion-checkbox>
                    </ion-col>
                    <ion-col size="10" class="pl-2 font-3">
                        <span (click)="toggleConsent(!loginForm.get('isConsentChecked').value)" class="text-medium">By
                            using coDrive you
                            agree to our </span>
                        <a class="fw500 pl-1" href="https://www.comakeit.com/codrive/terms-of-use/">Privacy
                            Policy</a>
                    </ion-col>
                </ion-row>
                <ion-button color="tertiary" expand="block" (click)='onSubmit()'>
                    Sign In <ion-icon name="checkmark-sharp"></ion-icon>
                </ion-button>
            </div>
        </form>

    </div>
</ion-content>