<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createPoll()">
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab> -->

<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="home"></ion-icon>
            <ion-label color="dark">dashboard</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="stats">
            <ion-icon name="stats-chart"></ion-icon>
            <ion-label color="dark">stats</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="news">
            <ion-icon name="newspaper"></ion-icon>
            <ion-label color="dark">news</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
            <ion-icon name="settings-sharp"></ion-icon>
            <ion-label color="dark">settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>