.fullname {
    text-align: center;
    margin: 5vw 0 1.5vw;
    color: var(--ion-color-secondary);
    font-size: 1.1em;
    font-weight: 500;
}

.team {
    text-align: center;
    margin: 0 0 2vw;
    text-transform: uppercase;
    color: var(--ion-color-medium-tint);
}

ion-content {
    border-radius: 0;
}

ion-row {
    &.field {
        padding: 3.5vw 0;
    }
    // &.border-top {
    //     border-top: 1px solid #eef2f9;
    // }
}

// .yes-no-response {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     border-radius: 25px;
//     box-shadow: 5px 5px 10px #dcdfe3, -5px -5px 10px #ffffff;
//     font-size: 3.25vw;
//     padding: 2vw 2vw;

//     div {
//         padding: 0 2vw;
//         color: #b5bcc9;
//         font-weight: 500;

//         &.yes {
//             color: red;
//             border-right: 1px solid #dbe3ea;
//         }

//         &.no {
//             color: #65be22;
//             border-left: 1px solid #dbe3ea;
//         }
//     }
// }
