<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="homeIcon" [routerLink]="['/home/dashboard']">
            <ion-icon name="arrow-back-outline" class="headerIcons"></ion-icon>
        </ion-buttons>
        <ion-title>self reporting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="fullname">
        {{fullName}}
    </div>
    <div class="team">
        {{team}}
    </div>
    <form role="form" [formGroup]='selfReportingForm' #selfReportingFrm="ngForm">
        <div class="card-header">General Details</div>
        <div class="card">
            <div class="card-body">
                <ion-row class="field">
                    <ion-col>
                        <div class="label">Coming From</div>
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('comingFrom').invalid}">
                            <ion-input formControlName='comingFrom' placeholder="Where do you stay in Hyderabad?">
                            </ion-input>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="field border-top">
                    <ion-col>
                        <div class="label">Mode of transport</div>
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('modeOfTransport').invalid}">
                            <ion-input formControlName='modeOfTransport'
                                placeholder="Your mode of transport for coming to the office">
                            </ion-input>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="field">
                    <ion-col size="8">
                        <div class="vertical-center">
                            <span class="label">Do you stay near to a containment Zone?</span>
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('isStayingInContainmentZone').invalid}">
                            <app-yes-no [selectedValue]="selfReportingForm.get('isStayingInContainmentZone').value"
                                (selctionEvent)="onAnswerSelected($event, 'isStayingInContainmentZone')"></app-yes-no>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>

        <div class="card-header">Travel History</div>
        <div class="card">
            <div class="card-body">
                <ion-row class="field">
                    <ion-col size="8">
                        <div class="vertical-center">
                            <span class="label">Did you travel out of Hyderabad recently?</span>
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('hasRecentTravelHistoryInState').invalid}">
                            <app-yes-no [selectedValue]="selfReportingForm.get('hasRecentTravelHistoryInState').value"
                                (selctionEvent)="onAnswerSelected($event, 'hasRecentTravelHistoryInState')"></app-yes-no>
                        </div>
                    </ion-col>
                </ion-row>

                <div *ngIf="selfReportingForm.get('hasRecentTravelHistoryInState').value === 'y'">
                    <ion-row class="field border-top">
                        <ion-col>
                            <div class="label">What are the travel dates?</div>
                            <div
                                [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('comingFrom').invalid}">
                                <ion-row>
                                    <ion-col size="5">
                                        <div (click)="onDateSelected('travelStartDate')">
                                            <span class="text-gray font-12"
                                                *ngIf="selfReportingForm.get('travelStartDate').value">{{selfReportingForm.get('travelStartDate').value | datePipe: "D MMM'YY"}}</span>
                                            <span *ngIf="!selfReportingForm.get('travelStartDate').value"
                                                class="text-gray font-12">start date</span>
                                        </div>
                                    </ion-col>
                                    <ion-col size="2" class="text-gray font-12">to</ion-col>
                                    <ion-col size="5">
                                        <div (click)="onDateSelected('travelEndDate')">
                                            <span class="text-gray font-12"
                                                *ngIf="selfReportingForm.get('travelEndDate').value">{{selfReportingForm.get('travelEndDate').value | datePipe: "D MMM'YY"}}</span>
                                            <span *ngIf="!selfReportingForm.get('travelEndDate').value"
                                                class="text-gray font-12">end date</span>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row class="field border-top">
                        <ion-col size="6">
                            <div class="vertical-center">
                                <span class="label">Mode of transport</span>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div
                                [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('travelModeofTransport').invalid}">
                                <ion-input formControlName='travelModeofTransport' type="text"
                                    placeholder="eg. train/flight/bus">
                                </ion-input>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row class="field border-top">
                        <ion-col size="8">
                            <div class="vertical-center">
                                <span class="label">Did you travel with any unknown people?</span>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <div
                                [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('temperature').invalid}">
                                <app-yes-no [selectedValue]="hasTraveledWithUnknownPeople"
                                    (selctionEvent)="hasTraveledWithUnknownPeople = $event"></app-yes-no>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                
                <ion-row class="field">
                    <ion-col size="8">
                        <div class="vertical-center">
                            <span class="label">Did you travel to any other state or country recently?</span>
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('hasRecentTravelHistory').invalid}">
                            <app-yes-no [selectedValue]="selfReportingForm.get('hasRecentTravelHistory').value"
                                (selctionEvent)="onAnswerSelected($event, 'hasRecentTravelHistory')"></app-yes-no>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>

        <div class="card-header">Visitors Visit</div>
        <div class="card">
            <div class="card-body">
                <ion-row class="field">
                    <ion-col size="8">
                        <div class="vertical-center">
                            <span class="label">Do you have any visitors recently who travelled from a different city?</span>
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('hasRecentVisitor').invalid}">
                            <app-yes-no [selectedValue]="selfReportingForm.get('hasRecentVisitor').value"
                                (selctionEvent)="onAnswerSelected($event, 'hasRecentVisitor')"></app-yes-no>
                        </div>
                    </ion-col>
                </ion-row>

                <div *ngIf="selfReportingForm.get('hasRecentVisitor').value === 'y'">
                    <ion-row class="field border-top">
                        <ion-col size="8">
                            <div class="label">Date of arrival?</div>
                        </ion-col>
                        <ion-col size="4">
                            <div (click)="onDateSelected('visitorArrivalDate')"
                                [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('visitorArrivalDate').invalid}">
                                <span
                                    *ngIf="selfReportingForm.get('visitorArrivalDate').value">{{selfReportingForm.get('visitorArrivalDate').value | datePipe: "D MMM'YY"}}</span>
                                <span *ngIf="!selfReportingForm.get('visitorArrivalDate').value"
                                    class="text-gray font-12">Arriving date</span>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row class="field border-top">
                        <ion-col>
                            <div class="label">Which city?</div>
                            <div
                                [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('visitorCity').invalid}">
                                <ion-input formControlName='visitorCity' type="text"
                                    placeholder="City they came from">
                                </ion-input>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>

        <div class="card-header">Hospital Visit</div>
        <div class="card">
            <div class="card-body">
                <ion-row class="field">
                    <ion-col size="8">
                        <div class="vertical-center">
                            <span class="label">Did you visit any hospital recently?</span>
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('hasRecentHospitalVisit').invalid}">
                            <app-yes-no [selectedValue]="selfReportingForm.get('hasRecentHospitalVisit').value"
                                (selctionEvent)="onAnswerSelected($event, 'hasRecentHospitalVisit')"></app-yes-no>
                        </div>
                    </ion-col>
                </ion-row>

                <div *ngIf="selfReportingForm.get('hasRecentHospitalVisit').value === 'y'">
                    <ion-row class="field border-top">
                        <ion-col size="8">
                            <div class="label">When did you visit?</div>
                        </ion-col>
                        <ion-col size="4">
                            <div (click)="onDateSelected('hospitalVisitDate')"
                                [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('hospitalVisitDate').invalid}">
                                <span
                                    *ngIf="selfReportingForm.get('hospitalVisitDate').value">{{selfReportingForm.get('hospitalVisitDate').value | datePipe: "D MMM'YY"}}</span>
                                <span *ngIf="!selfReportingForm.get('hospitalVisitDate').value"
                                    class="text-gray font-12">Visiting date</span>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row class="field border-top">
                        <ion-col>
                            <div class="label">Reason for visit?</div>
                            <div
                                [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('reasonForHospitalVisit').invalid}">
                                <ion-input formControlName='reasonForHospitalVisit' type="text"
                                    placeholder="Please provide a reason">
                                </ion-input>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>

        <div class="card-header">Health Details</div>
        <div class="card">
            <div class="card-body">
                <ion-row class="field">
                    <ion-col size="6">
                        <div class="vertical-center">
                            <span class="label"> Temperature</span>
                        </div>
                    </ion-col>
                    <ion-col size="6">
                        <div
                            [ngClass]="{'form-error': selfReportingFrm.submitted && selfReportingForm.get('temperature').invalid}">
                            <ion-input formControlName='temperature' type="tel" placeholder="in celcius">
                            </ion-input>
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row class="field border-top">
                    <ion-col>
                        <div class="label">Have fever?</div>
                        <div>
                            <app-yes-no [selectedValue]="selfReportingForm.get('hasFever').value"
                                (selctionEvent)="onAnswerSelected($event, 'hasFever')"></app-yes-no>
                        </div>
                    </ion-col>
                    <ion-col>
                        <ion-radio-group formControlName="hasCough">
                            <div class="label">Have cough?</div>
                            <div>
                                <app-yes-no [selectedValue]="selfReportingForm.get('hasCough').value"
                                    (selctionEvent)="onAnswerSelected($event, 'hasCough')"></app-yes-no>
                            </div>
                        </ion-radio-group>
                    </ion-col>
                </ion-row>

                <ion-row class="field border-top">
                    <ion-col>
                        <ion-radio-group formControlName="hasChestPain">
                            <div class="label">Have chest pain?</div>
                            <div>
                                <app-yes-no [selectedValue]="selfReportingForm.get('hasChestPain').value"
                                    (selctionEvent)="onAnswerSelected($event, 'hasChestPain')"></app-yes-no>
                            </div>
                        </ion-radio-group>
                    </ion-col>
                    <ion-col>
                        <ion-radio-group formControlName="hasMask">
                            <div class="label">Wearing Mask?</div>
                            <div>
                                <app-yes-no [selectedValue]="selfReportingForm.get('hasMask').value"
                                    (selctionEvent)="onAnswerSelected($event, 'hasMask')"></app-yes-no>
                            </div>
                        </ion-radio-group>
                    </ion-col>
                </ion-row>
            </div>
        </div>

        <div class="ion-text-center ion-margin-bottom">
            <ion-button color="tertiary" (click)='submit()'>
                Submit <ion-icon slot="end" name="checkmark-circle"></ion-icon>
            </ion-button>
        </div>
    </form>
</ion-content>