<div class="yes-no-response">
    <div class="yes {{getSelectedClass('y')}}" (click)="onSelection('y')">
        Yes</div>
    <div class="no {{getSelectedClass('n')}}" (click)="onSelection('n')">
        No</div>
</div>