.yes-no-response {
    display: inline-block;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #dcdfe3, -5px -5px 10px #ffffff;
    font-size: 3.25vw;
    padding: 2vw 2vw;

    div {
        padding: 0 2vw;
        display: inline-block;
        color: #b5bcc9;

        &.yes {
            border-right: 1px solid #dbe3ea;

            &.selected {
                color: #e5264a;
                font-weight: 500;
            }
        }

        &.no {
            &.selected {
                color: #65be22;
                font-weight: 500;
            }
        }
    }
}
