<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="split-items">
        <ion-row>
            <ion-col>
                <div class="dummy"></div>
                <div class="container-square" (click)="navigate('self-reporting')">
                    <div class="container-circle-content">
                        <div class="logo">
                            <img src="../../assets/images/report.svg" alt="goWork">
                        </div>
                        <div class="title">
                            Self Reporting
                            <div class="subtitle">
                                Report your daily status
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="dummy"></div>
                <div class="container-square" (click)="navigate()">
                    <div class="container-circle-content">
                        <div class="logo">
                            <img src="../../assets/images/cardiogram.svg" alt="goWork">
                        </div>
                        <div class="title">
                            Self Diagnosis
                            <div class="subtitle">
                                Do a self Diagnosis
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="dummy"></div>
                <div class="container-square" (click)="navigate('home/stats')">
                    <div class="container-circle-content">
                        <div class="logo">
                            <img src="../../assets/images/stats.svg" alt="goWork">
                        </div>
                        <div class="title">
                            Stats
                            <div class="subtitle">
                                View Covid stats
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="dummy"></div>
                <div class="container-square" (click)="navigate('home/news')">
                    <div class="container-circle-content">
                        <div class="logo">
                            <img src="../../assets/images/news.svg" alt="goWork">
                        </div>
                        <div class="title">
                            News
                            <div class="subtitle">
                                Latest Covid news
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>